.responsive {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h1, h2 {
	text-align: center;
	color:white;
}

a:link {
  color: #4f8f8c;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  height=auto;
  color: white;
  display: block;
table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


p {
	text-align: center;
	color: white;
  max-width: 500px;
  border-collapse: collapse;
   display: block;
   margin: 0 auto !important; 
}

div {text-align: center;}
body{background-color:black;}