/* custom styles for info page
------------------------------
*/

body {
    overflow: auto;
}

.btn-circle {
    border-radius: 1000px;
    border-width: 2px;
    margin-left: 10px;
}

.chair-name {
    font-weight: bold;
    margin-top: 5px;
}